.red {
  width: 150px;
  height: 100px;
  background: red;
}

.bg-img {
  width: 200px;
  height: 200px;
  background-image: url(~/src/img/kitten.jpg);
  background-size: cover;
  color: greenyellow;
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
  background-position: center;
}

.img {
  width: 60px;
  height: 60px;
  margin-top: 50px;
  object-fit: cover;
}